@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Big Shoulders Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

/* Remove Defualt Padding & Margin */
* {
  margin: 0;
  padding: 0;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Font Style */
div {
  font-family: "Montserrat";
}

/* Separate Mobile and Desktop Display */
.mobile-display {
  display: none;
}
.desktop-display {
  display: block;
}
@media (max-width: 477px) {
  .desktop-display {
    display: none;
  }
  .mobile-display {
    display: block;
  }
}

/* Fullscreen NavBar*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.87);
  overflow-y: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  pointer-events: all;
}

.overlay a {
  padding: 0.486vw;
  text-decoration: none;
  font-size: 2.187vw;
  color: #000080;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #87ceeb;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
}

/* NavBar/Menu Icon on Image */
.suzumeimg {
  width: 100%;
  height: auto;
  filter: brightness(70%);
  filter: contrast(90%);
  filter: saturate(130%);
}

.imgcontainer {
  position: fixed;
  text-align: center;
  z-index: -1;
}

/* Animated Menu Icon */
.menucontainer {
  display: inline-block;
  cursor: pointer;
  z-index: 3;
}

.bar1,
.bar2,
.bar3 {
  width: 1.9vw;
  height: 0.3vw;
  background-color: #000080;
  margin: 0.4vw 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 0.7vw) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -0.7vw) rotate(45deg);
}

/* Header Logo */
.headerlogo {
  position: relative;
  font-size: 2vw;
  font-weight: 100;
  font-family: "Big Shoulders Display";
  text-decoration: none;
  color: #000080;
}

a:hover {
  color: #87ceeb;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  padding: 1.8vw;
  background: #f0f8ff;
  z-index: 1;
}

.top-right {
  position: absolute;
  top: 0.5vw;
  right: 1vw;
}

.top-left {
  position: absolute;
  top: 0.5vw;
  left: 1vw;
}

/* Words On Image */
.top-text {
  position: absolute;
  top: 19.2vw;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Heebo";
  font-weight: 900;
  font-size: 5vw;
  z-index: 0;
}

.bottom-text {
  position: absolute;
  top: 24.5vw;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Heebo";
  font-weight: 550;
  font-size: 2.5vw;
  z-index: 0;
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  padding: 0.5vw 1vw;
  background: #003366;
  z-index: 0;
}

/* Footer Logo */
.footerlogo {
  position: relative;
  font-size: 2vw;
  font-weight: 100;
  font-family: "Big Shoulders Display";
  text-decoration: none;
  color: #f0f8ff;
}

/* Social Media Links */
.fa {
  position: relative;
  padding: 10px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 2.5vw 0px;
  border-radius: 50%;
}

.facontainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  z-index: 0;
}

.fa-facebook {
  background-color: white;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.fa-twitter {
  background-color: white;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.fa-youtube-play {
  background-color: white;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.fa-instagram {
  background-color: white;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

/* Band Image on Profile Page */
.profile-container {
  display: flex;
  flex-direction: row;
}

.radwimpsimg {
  width: 48%;
  height: auto;
  padding: 3%;
}

.profile-heading {
  display: inline-flex;
  padding-right: 3%;
  padding-top: 7%;
  font-size: 25px;
}

.profile-text {
  display: inline-flex;
  flex-direction: column;
  padding-top: 2%;
  padding-right: 5%;
  font-size: 18px;
}

.member-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 5%;
}

.member-box {
  display: inline-flex;
  flex-direction: column;
  padding-inline: 3%;
  border-left: 2px solid #808080;
  border-right: 2px solid #808080;
}
.member-name {
  display: inline-flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  padding-top: 5%;
}

.member-content {
  display: inline-flex;
  justify-content: center;
  padding: 5%;
}

.history-container {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.history-heading {
  display: inline-flex;
  font-size: 30px;
  padding-bottom: 1%;
}

.history-section {
  display: flex;
  flex-direction: row;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid #808080;
}

.history-year {
  display: inline-block;
  font-size: 26px;
  font-weight: 400;
  width: 100px;
  padding-right: 5%;
}

.history-text {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  padding-left: 5%;
  flex-direction: column;
  justify-content: center;
}

/* News Page */
.news-container {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.news-heading {
  display: inline-flex;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 1%;
}

.news-section {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid #808080;
}

.news-text {
  display: flex;
  font-size: 18px;
  font-weight: 900;
  padding-right: 5%;
  flex-direction: column;
  justify-content: center;
}

.news-time {
  display: inline-block;
  font-size: 16px;
  width: 100px;
  font-weight: 450;
  padding-bottom: 0.5%;
}

/* Live Performance Videos */
.live-container {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

.live-heading {
  display: inline-flex;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 1%;
}

.live-section {
  display: flex;
  flex-wrap: wrap;
}

.live-section > * {
  flex: 1 1 500px;
  margin: 0.65%;
}

iframe {
  border: 0;
}
/* Album Gallery */

/* Contact Form */
.contact-form {
  display: flex;
}

.contact-container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  padding-top: 16%;
  padding-bottom: 16%;
}

.contact-us {
  display: inline-flex;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 900;
  justify-content: center;
}

.contact-text {
  display: inline-flex;
  justify-content: center;
  font-size: 20px;
}

.form-container {
  display: flex;
  flex: 1.2;
  justify-content: center;
  padding: 3%;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 1%;
  border: 1px solid #808080;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #003366;
  color: #87ceeb;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #87ceeb;
  color: #003366;
  transition: 0.3s;
}
