/* Remove Defualt Padding & Margin */
* {
  margin: 0;
  padding: 0;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Font Style */
div {
  font-family: "Montserrat";
}

/* Separate Mobile and Desktop Display */
.mobile-display {
  display: none;
}
.desktop-display {
  display: block;
}
@media (max-width: 500px) {
  .desktop-display {
    display: none;
  }
  .mobile-display {
    display: block;
  }
}

/* Fullscreen NavBar*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000080;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #87ceeb;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
}

/* NavBar/Menu Icon on Image */
img {
  width: 100%;
  height: auto;
}

.imgcontainer {
  position: fixed;
  text-align: center;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Animated Menu Icon */
.menucontainer {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
  background-color: #000080;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
  background-color: #000080;
}
