/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Font Style */
nav {
  font-family: "Montserrat";
}

.mobile-display {
  display: none;
}
.desktop-display {
  display: block;
}
@media (max-width: 500px) {
  .desktop-display {
    display: none;
  }
  .mobile-display {
    display: block;
  }
}

/*  Header Style */
.header {
  overflow: hidden;
  background-color: #f0f8ff;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: #000080;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-weight: lighter;
}

.header a.logo {
  font-size: 25px;
}

.header a:hover {
  color: #87ceeb;
  transition: 0.5s;
}

.header a.active {
  color: #4d4dff;
  text-decoration: underline;
}

.header-right {
  float: right;
}

/* Mobile Top Navigation Bar */
.topnav {
  overflow: hidden;
  background-color: #f0f8ff;
  position: relative;
  padding: 1%;
}

.topnav #myPages {
  display: none;
}

.topnav a {
  color: #000080;
  padding: 3% 4%;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.topnav a.icon {
  background: #f0f8ff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  color: #000080;
  transition: 0.5s;
}

.topnav a:active {
  color: #4d4dff;
  text-decoration: underline;
}

/* Responsive Image */
.size {
  max-width: 1600px;
  max-height: 900px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.responsive {
  width: 100%;
  height: auto;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* White Space */
.whitespace {
  display: block;
  height: 3vh;
}
/* Band Profile Section */
#profile {
  display: block;
  border: 2px solid black;
  height: 100%;
}
.bandimg {
  display: block;
  max-width: 30vw;
  width: 100%;
  height: auto;
}
